 @import url(http://fonts.googleapis.com/css?family=Raleway);
 body { 
 	margin : 0; 
 	padding: 0;
 	font-family: 'Raleway', sans-serif;
 }
 #header { 
 	margin: 0;
 	height: 60px; 
 	background: #222; 
 	color: #FFF;
 }
 #header h2{ 
 	margin: 0;
 	padding-top: 15px; 
 	text-align: center;
 	color: #FFF;
 }

#content {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}
.dynamic-panel {
	list-style-type: none;
	padding: 5px;
	display : block;
	margin-bottom: 5px;
	border : 1px solid #ccc;
}
.dynamic-panel > li{
	position: relative;
}
.dynamic-panel > li:last-child {
	margin-bottom: 30px;
}
.sub-panel{
	display: inline-block;
	padding:3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}


