 @import url(http://fonts.googleapis.com/css?family=Raleway);
 body { 
 	margin : 0; 
 	font-family: 'Raleway', sans-serif;
 	min-width: 460px;
 }
 #draggable { 
 	width: 150px; 
 	height: 150px; 
 	padding: 0.5em; 
 }
 #header { 
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 60px; 
 	background: #222; 
 	color: #FFF;
 	z-index: 10;
 }
 #header h3{ 
 	padding: 15px 0 0 0; 
 	margin: 0; 
 	text-align: center;
 }

#content {
	position: relative;
	margin-top: 4em;
	padding: 10px;
}
.box {
	border: 1px solid #ccc;
 	background: #F2F2F2;
 	padding: 5px;
}
#tool-box {
 	/*float: left;
 	width: 10%;
 	height: 460px;
 	margin: 10px;
 	min-width: 150px;*/
}
#tool-box h3, #work-area > h3, #panels > h3, #panel-controls > h3 {
	padding: 10px;
	text-align: center;
	background: #E2E2E2;
	margin: -5px -5px;
	border-bottom: 1px dashed #999;
}
.selected {
	background: #999999;
	color: #FFF;
}
#rt-panel {
	position: fixed;
	top: 70px;
	right: -140px;
 	float: left;
 	margin-left: 5px;
 	padding: 0;
 	width: 150px;

 }
 #rt-panel-show {
 	right: 5px;
 }
 #rt-panel-hide {
 	display: none;
 	right: 148px;
 }
.rt-panel-toggle {
	top: 75px;
 	/*display: none;*/
 	position: fixed;
 	z-index : 5;
 	/*border: 1px solid black;*/
 	padding: 0;
 }
 .rt-panel-toggle > button {
 	border-top-right-radius: 0;
 	border-bottom-right-radius: 0;
 }
 #panels {
 	padding-bottom: 20px;
 	width: 100%;
 	margin-bottom: 5px;
 }
.items {
	margin-top: 10px;
 }
.items > li{
 	display: block;
 	border: 1px solid #ccc;
 	background: #E2E2E2;
 	padding: 10px;
 	text-align: center;
 	position: relative;
 	margin-bottom: 5px;
 }
#panel-controls {
	padding-bottom: 20px;
 	width: 100%;
 }
 #panel-controls > ul > ul {
 	display: none;
 	position: relative;
 }
 #panel-controls > ul > ul > li[class="panel-title"] , #panels > ul > li[class="panel-title"], #panel-controls > ul >li[class="panel-title"]{
 	border-bottom: 1px dashed #999;
 	margin-top: -20px;
 	margin: -22px -5px 10px -5px;
 	margin-bottom: 20px;
 }
 .active {
 	display: block;
 	background: #3b5998 !important;
 	color: #FFF !important;
 }
#tool-box {
	background: #F2F2F2;
	position: absolute;
	left: 0;
	top: 10px;
	padding-bottom: 60px;
}
#tool-box > h3 {
	background: #E2E2E2;
}
.box-controls {
	list-style-type: none;
	padding: 0;
}
#tool-box-controls {
	margin-top: 10px;
}
#tool-box-controls > li {
	padding: 7px 5px;
	border-bottom: 1px dashed #ccc;
}
#tool-box-controls > li > a{
	padding: 5px;
}
#tool-box-controls > li > a:hover {
	border-radius: 4px;
	background: #222;
}
.box-controols > li > a:hover {
	text-decoration: none;
	color: #222;
}
.box-controls > li > .selected:hover {
	color: #FFF;
}

.top-controls {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;

}
.top-controls ul {
	list-style-type: none;
	padding: 0;
	margin : 0;
	float: right;
}
.top-controls ul > li {
	display: inline;
	cursor: pointer;

}
#trash {
	border: 1px solid #ccc;
	padding: 5px;
}
#work-area {
 	float: left;
 	width: 95%;
 	margin-left: 50px;
 }

#dynamic-controls {
	margin-top: 10px;
	padding: 0;
	display: block;
	width: 100%;
	min-height: 360px;
	padding-bottom: 60px;
	list-style-type: none;
	/*border: 1px solid black;*/
}
#dynamic-controls >li {
/*	display: block;
	border: 1px dashed #ccc;
	margin-bottom: 10px;
	position: relative;*/
}
#work-area .dynamic-panel {
	list-style-type: none;
	border: 1px solid #ccc;
	display : block;
	padding: 5px;
	margin-bottom: 5px;
}
#work-area .dynamic-panel > li {
	position: relative;
	border: 1px dashed #ccc;
	margin-bottom: 15px;
	min-height: 50px;
	padding: 5px;
	padding-right: 25px;
}
#work-area .dynamic-panel > li > input {
	padding: 5px;
	color: #222;
}
#work-area .dynamic-panel > li:last-child {
	margin-bottom: 1em;
}
#work-area .sub-panel{
	display: inline-block;
	margin-right: 2px;
	min-width: 150px;
	min-height: 50px;
}

.control-action {
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border-left: 1px solid #ccc;
	height: 100%;
}
.control-action > li {
	cursor: pointer;
	padding: 3px;
	height: 50%;
	border-bottom: 1px dashed #ccc;
}
.control-action > li:last-child {
	border-bottom: none;
}
.control-action > li:hover {
	background: #3b5998;
}
.panel {
	height: 30%;
}

.notice-text {
	color: #999999;
	font-size: 0.8em;
}

.trash {
	background: url(../images/cross.png);
	position: absolute;
	cursor: pointer;
	top: 2px;
	right: 5px;
	height: 15px;
	width: 15px;

	background-repeat: no-repeat;
}
.dynamic-panel > li.placeholder {
	border: none !important;
	border-bottom: 1px solid grey;
}

.helper-control {
	background: #E2E2E2;
	padding: 15px 30px;
	border-radius: 4px;
}

#footer {
	clear: both;
	width: 100%;
	bottom: 0;
	background: #222;
}
#footer p{
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	color: #FFF;
}
#footer p >span {
	color: #3b5998;
	font-weight: bold;
}

#save {
	position: absolute;
	right: 10px;
	top: 15px;
	margin-right: 10px;
	font-weight: bold;
}
.edit-control {
}
.edit-control > .edit-control-field {
	width: 30%;
	display: inline;
}
.edit-control button {
	margin-left: 10px;
}
@media (max-width: 480px)  {
	#work-area {
		/*border : 1px solid red;*/
		width: 90%;
		margin-right: 20px;
	}
}

@media (min-width: 481px ) and (max-width: 768px) {
	#work-area {
		/*border : 1px solid yellow;*/
		width: 90%;

	}
}
@media (min-width: 769px ) and (max-width: 992px) {
	#work-area {
		/*border : 1px solid green;*/
		width: 92%;

	}
}
@media (min-width: 993px ) and (max-width: 1280px) {
	#work-area {
		/*border : 1px solid blue;*/
		width: 95%;

	}
}
